*,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container,
.wrapper,
.manage-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  align-items: center;
  margin: 0 auto;
  padding: 2rem 1rem;
  background-color: #e5d8c3;
  height: 100vh;
}
.container > .modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  padding-top: 5rem;
  text-align: center;
}
.container > .modal > .modal-body {
  position: relative;
  padding: 2rem;
  width: 400px;
  height: 400px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.25), 10px 10px 70px rgba(0, 0, 0, 0.25), inset -5px -5px 15px rgba(0, 0, 0, 0.5), inset 5px 5px 15px rgba(0, 0, 0, 0.5);
  flex-direction: column;
  justify-content: space-around;
}
.container > .modal > .modal-body button {
  padding: 0.2rem 1rem;
  position: absolute;
  bottom: 1rem;
  transform: translateX(-50%);
}
.container > .modal > .modal-body div {
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
}

.btn, .close {
  width: fit-content;
  padding: 0.2rem 0.5rem;
  margin: 0.5rem;
  border: none;
  border-radius: 5px;
  box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.15), 10px 10px 70px rgba(0, 0, 0, 0.15);
  color: #3f3c3c;
  cursor: pointer;
  transition: background-color ease-in-out 0.3s;
}
.btn.close, .close.close {
  color: #eae5e5;
  background-color: #9f7f7f;
  font-size: 16px;
}
.btn.close:hover, .close.close:hover {
  background-color: #f6323a;
}

.btn.add {
  background-color: #bebebe;
}
.btn.add:enabled:hover {
  background-color: #77e74b;
}

.btn:not(button.add) {
  background-color: #cb9049;
}
.btn:not(button.add):hover {
  background-color: #ffbe31;
  box-shadow: 0 0 5px #333, 0 0 5px #333;
}
.btn:not(button.add).del:hover {
  background-color: #f6323a;
  color: #eae5e5;
}

.wrapper {
  background-color: #fff;
  min-width: 40vw;
  padding: 2rem;
  margin: 0 auto;
  box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.35), 10px 10px 70px rgba(0, 0, 0, 0.35), inset -5px -5px 15px rgba(0, 0, 0, 0.6), inset 5px 5px 15px rgba(0, 0, 0, 0.6);
  border-radius: 0.5rem;
}

.input-block {
  margin: 2rem 0;
  display: flex;
  align-items: center;
  position: relative;
}
.input-block__subtitle {
  position: absolute;
  top: -10px;
  color: #4d4d4d;
}
.input-block__input {
  width: 70%;
}
.input-block input {
  width: 100%;
  padding: 0.25rem;
  outline: none;
}
.input-block input:focus {
  border-color: #7FB800;
}

.manage-block {
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
}
.manage-block__subtitle {
  top: -18px;
  position: absolute;
  color: #4d4d4d;
}
.manage-block__output {
  border: 1px solid #bebebe;
  width: 70%;
  padding: 0.2rem;
  flex-direction: column;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
}
.manage-block__output div {
  display: flex;
  justify-content: space-between;
  padding: 0.3rem;
}
.manage-block__output div p {
  padding-right: 0.2rem;
}
.manage-block__output div:hover {
  box-shadow: 0 0 2px #bebebe, 0 0 2px #bebebe;
  background-color: #eae5e5;
}
.manage-block__buttons {
  display: flex;
  flex-direction: column;
}

/*MEDIA*/
@media screen and (max-width: 1140px) {
  button::selection {
    background-color: red;
  }

  .manage-block {
    flex-direction: column;
  }
  .manage-block__output {
    height: 200px;
    width: 100%;
  }
  .manage-block__buttons {
    flex-direction: row;
    margin-top: 1rem;
  }
  .manage-block__buttons__output {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .container > .modal {
    padding: 1rem;
  }
  .container .input-block__subtitle {
    top: -16px;
  }
  .container .input-block button {
    margin-left: 10px;
    padding: 2px 15px;
  }
  .container button {
    margin: 4px 2px;
    padding: 2px 2px;
    font-size: 10px;
  }

  .wrapper {
    width: 70vw;
    padding: 3rem;
  }
  .wrapper #input-value {
    font-size: 0.66rem;
  }

  .manage-block__output {
    height: 150px;
    width: 100%;
  }
  .manage-block__buttons {
    display: grid;
    grid-template-rows: 2fr;
    grid-template-columns: 50% 50%;
  }
  .manage-block__buttons button {
    width: auto;
  }
}

/*# sourceMappingURL=main.css.map */
